.task {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  color: #666;
  border-bottom: solid;
  border-bottom-color: #eee;
  border-bottom-width: 1px;
  border-left: solid;
  border-left-width: 3px;
  border-left-color: #fafafa;
  transition: 0.1s; }

.task:hover, .task.is-selected {
  background-color: #f4f4f4;
  border-color: #f4f4f4; }

.task:hover .progress::-webkit-progress-bar, .task.is-selected .progress::-webkit-progress-bar {
  background-color: #f4f4f4; }

.task.is-selected {
  border-left-color: #666; }

.percent-finished {
  margin-left: auto; }

.progress {
  border-radius: 0;
  margin: 0 !important; }

.progress::-webkit-progress-bar {
  background-color: #fafafa;
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  transition: 0.1s; }

.progress::-webkit-progress-value {
  background-color: #666; }

.progress-background {
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: #666; }

.progress-background hr {
  position: absolute; }

.progress-bar {
  position: relative; }

.task-info > p {
  margin-right: 10px; }

.ion-arrow-down-c {
  margin-left: -3px; }

.more-info-button {
  margin-left: auto;
  margin-right: 0 !important; }

.more-info {
  flex-direction: column;
  color: #666;
  border-bottom: solid;
  border-bottom-color: #eee;
  border-bottom-width: 1px;
  border-left: solid;
  border-left-width: 3px;
  border-left-color: #f4f4f4;
  transition: 0.5s;
  background-color: #f4f4f4;
  display: flex;
  height: 0;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden; }

.is-shown {
  height: 150px;
  padding-top: 30px; }

html {
  background-color: #fafafa;
  user-select: none; }

.navigation h1 {
  font-weight: 200;
  padding-left: 30px;
  font-size: 1rem;
  padding: 10px 30px;
  border-left: solid;
  border-width: 3px;
  border-color: #fafafa;
  transition: 0.1s;
  height: 44px; }

.navigation h1:hover {
  background-color: #f4f4f4;
  border-color: #f4f4f4; }

.navigation h1.is-active {
  border-color: #666 !important;
  background-color: #f4f4f4; }

.navigation {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-top: 36px;
  transition: 0.1s;
  border-right: solid;
  border-width: 1px;
  border-color: #eee;
  -webkit-app-region: drag; }

.main-frame {
  margin-left: 200px;
  margin-top: 80px; }

.control-button {
  color: #666;
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 200;
  font-size: 1rem;
  transition: 0.1s; }

.control-button:hover {
  background-color: #eee;
  color: #666; }

.control-button:active {
  background-color: #dadada; }

.controls {
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  width: 100%;
  height: 44px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #eee;
  margin-left: 200px;
  margin-top: 36px;
  background-color: #fafafa; }

.ion-fw {
  display: inline-block;
  width: 1.28571em;
  text-align: center; }

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px; }

.tabs > ul {
  margin: 0; }

.tabs > ul > li {
  margin-top: 4px; }

.tabs li a {
  color: #666 !important; }

.tabs li a:hover {
  border-bottom-color: #666; }

.tabs li.is-active a {
  border-bottom-color: #666; }

#addLink {
  margin-left: 10px; }

.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
  border-color: #666; }

.card {
  background-color: #fafafa; }

.file-input {
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: -1; }

.title-bar {
  position: fixed;
  height: 36px;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #fafafa;
  -webkit-app-region: drag;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eee;
  color: #666;
  padding-top: 7px;
  font-size: 14px; }
