<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Space Folder</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="/css/master.css">
  <script type="text/x-template" id="task-template">
    <div class="task" :id="index">
      <p>{{ data.files[0].uris[0].uri }} {{ data.gid }}</p>
    </div>
  </script>
</head>

<body>
  <div id="app">
    <div>
      <a class="button" @click="openAddDialog">Add</a>
      <a class="button" @click="deleteTasks">Delete</a>
    </div>

    <div class="modal" id="addDialog">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Add Task
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="field">
                <label class="label">Link</label>
                <p class="control">
                  <input type="text" class="input" placeholder="" v-model="url">
                  <a class="button" @click="addLink(url)">Add</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="modal-close" @click="closeAddDialog"></button>
    </div>

    <div class="content">
      <h1>Active</h1>
      <div id="active-tasks">
        <task :data="task" @click.native="selectTask($event)" v-for="(task, index) in active" :key="index"></task>
      </div>
      <h1>Waiting</h1>
      <div class="task" v-for="task in waiting">
        <task :data="task"></task>
      </div>
      <h1>Stopped</h1>
      <div id="stopped-tasks">
        <task :data="task" @click.native="selectTask($event)" v-for="(task, index) in stopped" :key="index"></task>
      </div>
    </div>
    <p v-html="message"></p>
  </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="node_modules/aria2/bundle.js"></script>
<script src="./js/main-min.js"></script>

</html>
