#sidebar {
    height: 100%;
    width: $sidebarWidth;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow: hidden;
    padding-top: 40px;
    transition: .5s;
}

a {
    color: white;
}

i {
    margin-right: 10px;
}

.sidebar-item {
    padding: 10px;
    padding-left: 40px;
    border-left: solid;
    border-color: #333;
}

.sidebar-item:active {
    background: #444;
    border-color: $frost-blue;
}

.sidebar-item:active h1 {
    color: #fff;
}

.sidebar-item:hover h1 {
    color: white;
}