.item {
  margin: 30px;
  margin-right: 250px;
  @include box_shadow(1);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.item-icon {
  height: 100px;
  width: 100px;
}

.item>h1 {
  margin-left: 20px;
}