.item {
  margin: 30px;
  margin-right: 250px;
  @include box_shadow(1);
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.item-icon {
  height: 100px;
  width: 100px;
}

.right-column {
  flex-grow: 1;
  margin-left: 20px;
}

span {
  margin-left: 20px;
}

span:nth-child(1) {
  margin-left: 0px;
}

.info {
  color: #777;
}

.row {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}