$dark: #333;
$light-grey: #777;

#sidebar {
    height: 100%;
    width: $sidebar-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    padding-top: $topbar-height;
    transition: .5s;
    border-right: solid;
    border-width: 1px;
}

a {
    color: $dark;
}

i {
    margin-right: 10px;
}

.sidebar-item {
    padding: 10px;
    padding-left: 40px;
    border-right: solid;
    border-color: $white;
}

.sidebar-item:active h1 {
    color: #fff;
}

.sidebar-item:hover h1 {
    color: $light-grey;
}

.sidebar-item.is-active {
    background: white;
    border-color: $dark;
    border-width: 3px;
}
