@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/layout/_all.sass";
@import "node_modules/bulma/sass/elements/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/sass/components/_all.sass";

$sidebar-width: 220px;
$frost-blue: #669BBC;
$topbar-height: 52px;

@import "sidebar.scss";
@import "topbar.scss";

.item-list {
  position: fixed;
  overflow: scroll;
  left: $sidebar-width;
  top: $topbar-height;
  height: 100%;
}