#topbar {
    background-color: black;
}

#topbar>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: $sidebarWidth;
    width: 100%;
}

li {
    float: left;
    padding: 14px 16px;
}